#main {
    background-color: #eee;
    max-width: 1400px;
    max-height: 100%;
    border-radius: 5px;
    margin: 30px auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

#title {
    text-align: center;
    font-size: 40px;

}

#main p {
    text-align: center;
}

#img-div {
    background-color: white;
    max-width: 1390px;
    padding: 15px;
}

#image {
    display: block;
    padding-bottom: 10px;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

#img-caption {
    text-align: center;
    font-size: large;
}

#tribute-info {
    max-width: 600px;
    max-height: 100%;
    margin: 50px auto;
}

h3 {
    text-align: center;
}